body {
    background-color: #1A1A1A;
    font-family: Roboto Slab, sans-serif;
}

.conteiner {
    display: flex;
    width: 100%;
}

.header {
    background-image: url('./images/background_header.png');
    display: block;
    height: 850px;
    width: 100%;
}

.logo {
    padding-left: 100px;
}

.nav {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;

    border-bottom: 2px solid #000000;
}

.wrapper-item-nav {
    padding-right: 80px;
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.color {
    color: #F4FA1A;
}

.item-nav {
    padding-top: 35px;
    color: #FFFFFF;
}

.item-nav__link:hover, .item-nav__link:active, .short-info-btn:hover {
    color: #F4FA1A;
}

p a {
    color: #FFFFFF;
    text-decoration: none;
}

.wrapper-short-info {
    display: flex;
    width: 100%;
}

.short-info {
    padding-top: 190px;
    padding-left: 100px;
    width: 50%;
}

.item-short-info-welcome {
    font-size: 24px;
    color: #FFFFFF;
}

.item-short-info-me {
    font-size: 70px;
    color: #FFFFFF;
}

.item-short-info-profession {
    padding-bottom: 20px;
    font-size: 36px;
    color: #FFFFFF;
}

.short-info-btn {
    font-size: 20px;
    width: 255px;
    height: 50px;
    color: #FFFFFF;
    background-color: transparent;

    border: 1px solid #F4FA1A;
    border-radius: 15px;

    cursor: pointer;
}

.my-foto {
    text-align: center;
    width: 50%;
}

.foto {
    padding-top: 55px;
    height: 44%;
}

.content {
    display: block;
}

.section-about-me {
    display: flex;
    width: 100%;
    height: 720px;
}

.wrapper-about-me {
    width: 50%;
}

.left-title {
    padding: 25px 0px 125px 100px;
    font-size: 48px;
    color: #FFFFFF;
}

.title {
    padding: 25px 0px 125px 0px;
    font-size: 48px;
    color: #FFFFFF;
}

.border-title {
    border-bottom: 1px solid #F4FA1A;
}

.frame {
    margin-left: 100px;
    width: 400px;
    height: 400px;
    border: 3px solid #F4FA1A;
    border-radius: 20px;
}

.foto-about-me {
    margin-left: 35px;
    margin-top: -35px;
    width: 400px;
    height: 400px;
    background-image: url('./images/about-me.jpg');
    background-size: cover;
    border-radius: 20px;
}

.wrapper-who-i-am {
    margin-right: 100px;
    margin-top: 175px;
    width: 50%;
    text-align: center;
}

.who-i-am {
    padding-bottom: 75px;
    font-size: 35px;
    color: #FFFFFF;
}

.who-i-am__text {
    padding-left: 100px;
    font-size: 20px;
    padding-right: 35px;
    padding-bottom: 60px;
    color: #FFFFFF;
}

.who-i-am__btn {
    font-size: 20px;
    width: 300px;
    height: 50px;
    color: #000000;
    background-color: #F4FA1A;
    border-radius: 15px;

    cursor: pointer;
}

.who-i-am__btn:hover {
    border: 1px solid #F4FA1A;
    background-color: transparent;
    color: #F4FA1A;
}

button:hover img {
    opacity: 0;
}

.who-i-am__img {
    padding-left: 20px;
    height: 20px;
}

.section-skills {
    padding-bottom: 110px;
    display: block;
    text-align: center;
}

.wrapper-skills {
    display: flex;
}

.skills-info {
    padding-left: 100px;
    width: 50%;
    color: #FFFFFF;
    text-align: left;
}

.title-skills-info {
    padding-bottom: 70px;
    font-size: 36px;
}

.skills-description {
    font-size: 20px;
    line-height: 30px;
}

.my-knowledge {
    margin-top: 110px;
    padding-left: 35px;
    padding-right: 100px;
    width: 50%;
    line-height: 50px;
}

.type-of-skill {
    display: flex;
    width: 100%;
    color: #FFFFFF;
    justify-content: space-between;
}

.frame-progressbar {
    width: 100%;
    height: 15px;
    border: 1px solid #F4FA1A;
}

.progressbar-html {
    width: 90%;
    height: 15px;
    background-color: #F4FA1A;
}

.progressbar-css {
    width: 80%;
    height: 15px;
    background-color: #F4FA1A;
}

.progressbar-js {
    width: 40%;
    height: 15px;
    background-color: #F4FA1A;
}

.progressbar-php {
    width: 40%;
    height: 15px;
    background-color: #F4FA1A;
}

.progressbar-sql {
    width: 50%;
    height: 15px;
    background-color: #F4FA1A;
}

.section-projects {
    display: block;
    text-align: center;
    height: 1000px;
    width: 100%;

    background-image: url('./images/background_projects.png');
}

.section-contact-me {
    display: block;
    width: 100%;
    height: 850px;
}

.wrapper-contact-me {
    display: flex;
    line-height: 30px;
}

.message-me {
    display: block;
    padding-left: 100px;
    width: 50%;
}

.message-title {
    padding-bottom: 40px;
    font-size: 35px;
    color: #FFFFFF;
}

.contact-form {
    padding-bottom: 30px;
}

.input-name {
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 260px;
    height: 50px;
    color: #5F5F5F;
    background-color: #B8B8B8;

    border-radius: 10px;
    border: none;
    outline: none;
}

.input-mail {
    padding-left: 20px;
    width: 315px;
    height: 50px;
    color: #5F5F5F;
    background-color: #B8B8B8;

    border-radius: 10px;
    border: none;
    outline: none;
}

.input-message {
    padding-left: 20px;
    margin-bottom: 20px;
    width: 620px;
    height: 50px;
    color: #5F5F5F;
    background-color: #B8B8B8;

    border-radius: 10px;
    border: none;
    outline: none;
}

.input-name::placeholder, .input-mail::placeholder, .input-message::placeholder, .input-message::placeholder    { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    opacity: 1; /* Firefox */
}

.send-message {
    margin-top: 30px;
    font-size: 20px;
    width: 255px;
    height: 50px;
    color: #FFFFFF;
    background-color: transparent;

    border: 1px solid #F4FA1A;
    border-radius: 15px;

    cursor: pointer;
}

.send-message:hover {
    color: #F4FA1A;
}

.wrapper-get-in-touch {
    padding-left: 50px;
}

.get-in-touch__title {
    padding-bottom: 75px;
    font-size: 35px;
    color: #FFFFFF;
}

.get-in-touch__description {
    padding-right: 100px;
    padding-bottom: 100px;
    font-size: 20px;
    color: #FFFFFF;
}

.frame-get-in-touch__text {
    display: block;
}

.frame-account, .frame-addres, .frame-at-sign {
    padding-bottom: 30px;
    display: flex;
}

.get-in-touch__text {
    padding-top: 8px;
    padding-left: 30px;
    font-size: 24px;
    color: #FFFFFF;
}

.footer {
    padding-top: 50px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100px;
}

.copyright {
    padding-top: 50px;
    font-size: 20px;
    color: #FFFFFF;
}

@media (max-width: 1560px) {
    .item-short-info-me {
        font-size: 60px;
   }

   .skills-description {
        font-size: 18px;
   }

   .my-knowledge {
        line-height: 66px;
   }

   .input-name {
        width: 180px;
   }

   .input-mail {
        width: 252px;
   }

   .input-message {
        width: 480px;
   }
}

@media (max-width: 1370px) {
    .item-short-info-me {
        font-size: 50px;
   }

   .foto-about-me, .frame {
        width: 350px;
        height: 350px;
   }

   .who-i-am__text {
        font-size: 18px;
   }

    .input-name {
        width: 180px;
    }

    .input-mail {
        width: 235px;
    }

    .input-message {
        width: 460px;
    }

    .get-in-touch__description {
        font-size: 18px;
    }

    .get-in-touch__text {
        font-size: 18px;
    }
}

@media (max-width: 1300px) {
    .input-name {
        width: 400px;
    }

    .input-mail {
        margin-bottom: 20px;
        width: 400px;
    }

    .input-message {
        width: 400px;
    }
}

@media (max-width: 1180px) {
    .foto {
        display: none;
    }

    .short-info {
        width: 100%;
        padding-left: 0;
    }

    .wrapper-short-info {
        display: block;
        text-align: center;
        width: 100%;
    }

    .item-short-info-welcome {
        font-size: 35px;
    }

    .input-name {
        width: 160px;
    }

    .input-mail {
        width: 193px;
    }

    .input-message {
        width: 400px;
    }
}

@media (max-width: 1100px) {
    .section-about-me {
        display: block;
        height: 100%;
    }

    .wrapper-about-me, .wrapper-who-i-am {
        width: 100%;
    }

    .frame {
        margin: 0 auto;
    }

    .who-i-am__btn {
        margin-bottom: 50px;
    }
}

@media (max-width: 910px) {
    .item-nav a {
        display: none;
    }

    .section-about-me {
        display: block;
        height: 100%;
    }

    .foto-about-me {
        width: 450px;
        height: 450px;
    }

    .frame {
        margin: 0 auto;
        width: 450px;
        height: 450px;
    }

    .wrapper-who-i-am, .wrapper-about-me {
        text-align: center;
        width: 100%;
    }

    .who-i-am__text, .skills-description {
        font-size: 25px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .wrapper-skills {
        display: block;
    }

    .skills-info {
        text-align: center;
        padding-left: 0;
        width: 100%;
    }

    .who-i-am__btn {
        margin-bottom: 100px;
    }
    
    .my-knowledge {
        padding-left: 100px;
        padding-right: 0;
        width: 75%;
        text-align: center;
        font-size: 25px;  
    }

    .section-contact-me {
        height: 100%;
    }

    .wrapper-contact-me {
        display: block;
    }

    .message-me {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .left-title {
        text-align: center;
        padding-left: 0;
    }

    .input-name {
        width: 250px;
    }

    .input-mail {
        width: 303px;
    }

    .input-message {
        width: 600px;
    }

    .send-message {
        margin-bottom: 100px;
    }

    .get-in-touch__description {
        padding-right: 0;
    }

    .frame-account, .frame-addres, .frame-at-sign {
        margin-left: 100px;
    }

    .wrapper-get-in-touch {
        display: block;
        text-align: center;
    }
}

@media (max-width: 750px) {
    .input-name, .input-mail, .input-message {
        width: 500px;
        margin-right: 0;
}

@media (max-width: 600px) {
    .item-short-info-welcome {
        font-size: 24px;
    }

    .item-short-info-me {
        font-size: 42px;
    }

    .item-short-info-profession {
        font-size: 30px;
    }

    .frame, .foto-about-me {
        width: 400px;
        height: 400px;
    }

    .my-knowledge {
        width: 65%;
    }

    .input-name  {
        margin-right: 0;
        width: 350px;  
    }

    .input-mail {
        margin-bottom: 20px;
        width: 350px;
    }

    .input-message {
        width: 350px;
    }

    .get-in-touch__description {
        font-size: 25px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .get-in-touch__text {
        font-size: 25pxgit ;
    }
}
    


